<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium" (ionChange)="buscarPokemon($event)">
  </ion-searchbar>

  <ion-item-sliding *ngFor="let pokemon of listaFiltrada">
    <ion-item color="dark" (click)="abrirDadosPokemon(pokemon)">

      <ion-chip color="light" slot="start">
        <ion-label [color]="pokemon.types[0].type.name | lowercase">{{pokemon.id}}</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>{{pokemon.name}}</h2>

          <ion-badge [color]="tipo.type.name | lowercase" *ngFor="let tipo of pokemon.types">{{tipo.type.name}}
          </ion-badge>

        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary" (click)="buscarPokemons(offset - limit, limit)">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <div style="color: white">
          Página {{paginaAtual}} de {{(totalPokemons / limit).toFixed(0)}}
        </div>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="tertiary" (click)="buscarPokemons(offset + limit, limit)">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>