<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="grass">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="fire">004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Chamander</h2>
          <ion-badge color="fire">Fire</ion-badge>          
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">007</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
          
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="electric">025</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="electric">Electric</ion-badge>          
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="dragon">149</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Dragonite</h2>
          <ion-badge color="dragon">Dragon</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/149.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>